@import "../../shared/var.scss";

.imageSideContainer {
    display: inline-block;
    width: 19%;
    margin-top: 7px;
    vertical-align: middle !important;
    img {
        display: block;
        margin: auto;
        width: 50px;
    }
}