<div class="horizontalMenuContainer">
    <div class="menu">
        <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">HOME</a>
        <a routerLink="/myaccount" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">MY ACCOUNT</a>
        <a routerLink="/newpost" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">NEW POST</a>
        <a routerLink="/aboutus" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">ABOUT US</a>
    </div>
</div>